.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow:visible;
  /* фоновый цвет */
  background: white;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  justify-self: center;
  width: 15vw;
  height: 15vh;
  top: 35%;
  left: 42.5%;
  animation: preloader-rotate 3s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  margin-top: 50vh;
}
